<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tell your story to the world">
    {% block title %}
    <title>Ue - Home</title>
    {% endblock %}
    {% block stylesheet %}
        <link rel="stylesheet" href="{% static 'css/main/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/main/scrollbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/main/tab.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,100;1,800&display=swap"
            rel="stylesheet">
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
        <script src="https://unpkg.com/wavesurfer.js"></script>
        
    {% endblock %}
</head>
<body>
    {% block header %}
        <div class="header">
            <nav>
                <div class="navigation-bar">
                    <div class="logo-menu nav-menu">
                        <a href="{% url 'ue_app:home' %}"><div class="logo">ue</div></a>
                        <div class="dropdown-menu icon-div">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </div>
                    </div>
                    <div class="search-sign-in nav-menu">
                        <div class="search">
                            <!-- <box-icon name='search-alt-2'></box-icon> -->
                            <input type="search" name="search" id="search" placeholder="Search Miroor" style="background: url('{% static 'images/icons/search-regular-24.png' %}') no-repeat right;">
                        </div>
                    </div>
                    
                    <div class="search-sign-in nav-menu">
                        <div class="add-new-content-container">
                            {% if request.user.is_authenticated %}
                            <div class="add-new-content" onclick="displayAddNewCard()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="transform: ;msFilter:;"><path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path></svg>
                            </div>
                            {% else %}
                            <div style="display: none;"></div>
                            {% endif %}

                            <div class="add-new-card">
                                <div class="cancel-sign" onclick="canceladdNew()">
                                    <box-icon name='x'></box-icon>
                                </div>
                                <div class="login sign-auth" style="margin-top: 15px;">
                                    <a href="{% url 'ue_app:login' %}">New Cateory</a>
                                </div>
                                <div class="login sign-auth">
                                    <a href="{% url 'ue_app:channel_create' %}">New Channel</a>
                                </div>
                                <div class="logout sign-auth">
                                    <a href="{% url 'ue_app:article_create' %}">New Article</a>
                                </div>
                                <div class="sign-auth">
                                    <a href="{% url 'ue_app:audio_create' %}"> New Audio</a>
                                </div>
                                <div class="sign-auth">
                                    <a href="{% url 'ue_app:video_create' %}"> New Video</a>
                                </div>
                                <hr>
                                <p class="info-text">To create a channel, create a profile if you did not do that while signing up.</p>
                                <div class="sign-auth">
                                    <a href="{% url 'ue_app:profile_create' %}"> New Profile</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="sign-up icon-div">
                            {% if request.user.is_authenticated %}
                            {% if user.account.photo.url %}
                            <div class="user-avatar" onclick="displayCard()">
                                <img src="{{user.account.photo.url}}" alt="">
                            </div>
                            
                            {% else %}
                            <div class="user-avatar user-avatar-letter" onclick="displayCard()">
                                <p>{{user.username|make_list|first|upper}}</p>
                            </div>
                            {% endif %}
                            {% else %}
                            <div class="user-avatar" onclick="displayCard()">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                    class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                                </svg>

                            </div>
                            {% endif %}
                            <div class="user-avatar-account-card">
                                <div class="cancel-sign" onclick="cancelsignMenu()">
                                    <box-icon name='x'></box-icon>
                                </div>
                                {% if user.account.photo.url %}
                                <a href="{% url 'ue_app:profile_detail' user.username user.id %}">
                                    <div class="user-photo">
                                        <div class="user-avatar">
                                            <img src="{{user.account.photo.url}}" alt="">
                                        </div>
                                        <p>{{user.username}}</p>
                                    </div>
                                </a>
                                
                                {% else %}
                                <a href="{% url 'ue_app:profile_detail' user.username user.id %}">
                                    <div class="user-photo">
                                        <div class="user-avatar user-avatar-letter">
                                            <p>{{user.username|make_list|first|upper}}</p>
                                        </div>
                                        <p>{{user.username}}</p>
                                    </div>
                                </a>
                                {% endif %}
                                <hr>
                                <div class="login sign-auth" style="margin-top: 15px;">
                                    <box-icon name='log-in-circle'></box-icon> <a href="{% url 'ue_app:login' %}">Log In</a>
                                </div>
                                <div class="logout sign-auth">
                                    <box-icon name='log-out-circle'></box-icon> <a href="{% url 'ue_app:logout' %}?next={{request.path}}">Log Out</a>
                                </div>
                                <div class="signin sign-auth">
                                    <a href="{% url 'ue_app:signup' %}"> Sign Up</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </nav>
        </div>
    {% endblock %}
    
    {% block leftsidebar %}
        <div class="recommender-channels left-sidbar">
            <div class="recommended-accounts">
                <div class="recommended-channels-head">
                    <div class="title">
                        <h3>Featured Channels</h3>
                        <div class="expand-colapse body-icon">
                            <div class="place-horizontal remove-element"><box-icon name='move-horizontal'></box-icon></div>
                            <div class="collapse">
                                <box-icon name='collapse-horizontal'></box-icon>
                            </div>
                            <div class="expand remove-element">
                                <box-icon name='expand-horizontal'></box-icon>
                            </div>
                
                        </div>
                    </div>
                
                    <div class="collapse-title-popup-tag remove-element">
                        <box-icon name='tag-alt'></box-icon>
                    </div>
                </div>
                <div class="recommended-accounts">
                    {% if channels %}
                    {% for account in channels %}
                    <div class="recommended-account-card">
                        <div class="photo-name">
                            <a href="{{account.get_absolute_url}}">
                            <div class="account-image">
                                <img data-title="Elliot Fu" data-content="Elliot has been a member since July 2012" class="ui avatar image" src="{{account.channel_logo.url}}" alt="">
                            </div></a>
                            <div class="account-name">
                                <p>{{account.display_name}}</p>
                            </div>
                        </div>
                
                        <div class="online-status-views">
                            <div class="online-status"></div>
                            <div class="views">
                                <p>12.6K</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="no-content-available">
                        <p>No Recommended Channel </p>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- <hr> -->
            <div class="recommended-videos">
                <div class="recommended-channels-head">
                    <div class="title">
                        <h3>Popular Videos</h3>
                    </div>
                </div>
                <div class="popular-videos">
                    {% if videos %}
                    {% for video in videos %}
                    <a href="{{video.get_absolute_url}}">
                        <div class="popular-video-card">
                            <div class="video-display">
                                <div class="video-cover">
                                    <video src="{{video.video_upload.url}}" controls ></video>
                                </div>
                            </div>
                            <div class="video-status-views">
                                <div class="video-title">
                                    <h5>{{video.title}}</h5>
                                </div>
                                <div class="video-name-views">
                                    <div class="channel-name">
                                        <img src="{{video.author.channel_logo.url}}" alt="">
                                        <p>{{video.author.display_name}}</p>
                                    </div>
                                    <div class="views">
                                        <p>{{ video.views }} view{{ video.views|pluralize }}</p>
                                    </div>
                                </div>
                    
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    {% else %}
                    <div class="no-content-available">
                        <p>No Video Available </p>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- <hr> -->
            <div class="recommended-videos">
                <div class="recommended-channels-head">
                    <div class="title">
                        <h3>Popular Audios</h3>
                    </div>
                </div>
                <div class="popular-videos">
                    {% if audios %}
                    {% for audio in audios %}
                    <a href="{{audio.get_absolute_url}}">
                        <div class="popular-video-card">
                        <div class="video-display">
                            <div class="audio-cover">
                                <!-- <img src="{{audio.feature_image.url}}" alt=""> -->
                                <box-icon class="play-btn" name='play'></box-icon>
                                <box-icon class="pause-btn hide" name='pause'></box-icon>
                                <div id="waveform"></div>
                                <!-- <audio class="audio" src="{{audio.audio_upload.url}}" controls></audio> -->
                                <script>
                                    let playBtn = document.querySelector('.play-btn');
                                    let pauseBtn = document.querySelector('.pause-btn');
                                    var wavesurfer = WaveSurfer.create({
                                            container: '#waveform',
                                            waveColor: 'violet',
                                            progressColor: 'purple',
                                            barWidth: 4,
                                            responsive: true,
                                            height: 50,
                                            barRadius: 4,
                                    });
                                    wavesurfer.load('{{audio.audio_upload.url}}');
                                    playBtn.onclick = function(){
                                        wavesurfer.playPause();
                                        pauseBtn.classList.remove('hide');
                                        playBtn.classList.add('hide');
                                    }
                                    pauseBtn.onclick = function () {
                                        wavesurfer.playPause();
                                        pauseBtn.classList.add('hide');
                                        playBtn.classList.remove('hide');
                                    };
                                    wavesurfer.on('finish', function(){
                                        pauseBtn.classList.add('hide');
                                        playBtn.classList.remove('hide');
                                        wavesurfer.stop();
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="video-status-views">
                            <div class="video-title">
                                <h5>{{audio.title}}</h5>
                            </div>
                            <div class="video-name-views">
                                <div class="channel-name">
                                    <img src="{{audio.author.channel_logo.url}}" alt="">
                                    <p>{{audio.author.display_name}}</p>
                                </div>
                                <div class="views">
                                    <p>{{ audio.views }} view{{ audio.views|pluralize }}</p>
                                </div>
                            </div>
            
                        </div>
                        </div>
                    </a>
                    {% endfor %}
                    {% else %}
                    <div class="no-content-available">
                        <p>No Audio Available </p>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- <hr> -->
            <div class="recommended-videos">
                <div class="recommended-channels-head">
                    <div class="title">
                        <h3>Popular Articles</h3>
                    </div>
                </div>
                <div class="popular-videos">
                    {% if articles %}
                    {% for article in articles %}
                    <a href="{{article.get_absolute_url}}">
                        <div class="popular-video-card">
                            <div class="video-display">
                                <div class="video-cover">
                                    <img src="{{article.feature_image.url}}" alt="">
                                    
                                </div>
                            </div>
                            <div class="video-status-views">
                                <div class="video-title">
                                    <h5>{{article.title}}</h5>
                                </div>
                                <div class="video-name-views">
                                    <div class="channel-name">
                                        <img src="{{article.author.channel_logo.url}}" alt="">
                                        <p>{{article.author.display_name}}</p>
                                    </div>
                                    <div class="views">
                                        <p>{{ article.views }} view{{ article.views|pluralize }}</p>
                                    </div>
                                </div>
                    
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    {% else %}
                    <div class="no-content-available">
                        <p>No Article Available </p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}

    <div class="content-container">
        <div class="content-page">
            {% block start_banner %}
            <div class="banner" style="background: url('{% static 'images/image/360_F_346588752_w91yyRbl1nzpZI1PetGQF1896jsYoLkb.jpg' %}')">
                <div class="cancel-banner" onclick="cancelBanner()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </div>
                <div class="welcome-banner banner-1">
                    <img src="{% static 'images/image/capture-banner.png' %}" alt="">
                    <div class="welcome-banner-text">
                        <h3>Let the world hear your story</h3>
                        <p>A saner world through shared stories</p>
                    </div>
                </div>
                <div class="welcome-banner banner-2">
                    <img src="{% static 'images/image/saner-world-with-miroor.png' %}" alt="">
                    <div class="welcome-banner-text">
                        <h3>Inspire someone today</h3>
                        <p>Nothing motivates more than stories</p>
                    </div>
                </div>
            </div>
            {% endblock %}

            {% block category_display %}
            <div class="category-section">
                <div class="category-heading-body">
                    <h2>Popular Categories</h2>
                    <div class="category-container">
            
                        {% if categories %}
                        {% for category in categories %}
            
                        <a href="{% url 'ue_app:category_detail' category.slug %}">
                            <div class="category-card">
                                <img src="{{category.image.url}}" alt="category.name">
                                <div>
                                    <h5>{{category.name}}</h5>
                                </div>
                                <p>470.5K views</p>
                            </div>
                        </a>
            
            
                        {% endfor %}
                        {% else %}
                        <p>No categories available</p>
                        {% endif %}
                    </div>
                </div>   
            </div>
            {% endblock category_display %}

            {% block messages %} 
            {% if messages %} 
            {% for message in messages %}
            <div class="message-alert">
                <div class="cancel-banner" onclick="cancelMessage()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </div>
                {% if message.level_tag == 'error' %}
                <img src="{% static 'images/image/icons8-box-important.gif' %}" alt="">
                {% else %}
                <img src="{% static 'images/image/taxi-handshake.gif' %}" alt="">
                {% endif %}
                <p>{{ message }}</p>
                
            </div>
            {% endfor %} 
            {% endif %} 
            {% endblock messages %}

            {% block content %}
            
            {% endblock content %}
        </div> 
    </div>
    

    {% block footer %}
    {% endblock footer %}

    {% block script %}
    <script src="{% static 'js/main/script.js' %}"></script>
    <script src="{% static 'js/main/sidebar.js' %}"></script>
    <script src="{% static 'js/main/tab.js' %}"></script>
    <script src="{% static 'js/main/audio.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function(){
            function updateText(textCount, newCount){
                textCount.text(newCount);
                
            }
            let likeTextCount = $(".likes-count");
            $(".like-btn").click(function(e){
                e.preventDefault()
                let this_ = $(this);
                let likeUrl = this_.attr("data-href");
                let likeCount = parseInt(this_.attr("data-likes")) || 0;
                let addLike = likeCount + 1;
                let removeLike;
                if(likeCount<=0){
                    removeLike = 0;
                }else {removeLike = likeCount - 1;}
                
                $.ajax({
                    url: likeUrl,
                    method: "GET",
                    data: {},
                    success: function (data) {
                        // let newLikes;
                        if (data.liked) {
                            // newLikes = likeCount + 1;
                            updateText(likeTextCount, addLike);
                            $(".like-btn").html("<box-icon type='solid' name='like'></box-icon>");
                        }
                        else {
                            // newLikes = likeCount - 1;
                            updateText(likeTextCount, removeLike);
                            $(".like-btn").html("<box-icon name='like'></box-icon>");
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            })
            
        })
    </script>

    <script>
        $(document).ready(function(){
            function updateText(textCount, newCount){
                textCount.text(newCount);
                
            }
            let followTextCount = $(".follows-count");
            $(".following-btn").click(function(e){
                e.preventDefault()
                let this_ = $(this);
                let followUrl = this_.attr("data-href");
                let followCount = parseInt(this_.attr("data-follows")) || 0;
                let addFollow = followCount + 1;
                let removeFollow;
                if(followCount<=0){
                    removeFollow = 0;
                }else {removeFollow = followCount - 1;}
                
                $.ajax({
                    url: followUrl,
                    method: "GET",
                    data: {},
                    success: function (data) {
                        // let newLikes;
                        if (data.following) {
                            // newLikes = likeCount + 1;
                            updateText(followTextCount, addFollow);
                            $(".follow-btn svg").style.fill = "rgb(252, 42, 88)";
                            // console.log(addFollow);
                        }
                        else {
                            // newLikes = likeCount - 1;
                            updateText(followTextCount, removeFollow);
                            $(".follow-btn svg").style.fill = "rgba(238, 236, 236, 1)";
                            // console.log(removeFollow);
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            })
            
        })
    </script>
<!-- 
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'image code',
            toolbar: 'undo redo | link image | code',
            /* enable title field in the Image dialog*/
            image_title: true,
            /* enable automatic uploads of images represented by blob or data URIs*/
            automatic_uploads: true,
            /*
              URL of our upload handler (for more details check: https://www.tiny.cloud/docs/configure/file-image-upload/#images_upload_url)
              images_upload_url: 'postAcceptor.php',
              here we add custom filepicker only to Image dialog
            */
            file_picker_types: 'image',
            /* and here's our custom image picker*/
            file_picker_callback: function (cb, value, meta) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');

                /*
                  Note: In modern browsers input[type="file"] is functional without
                  even adding it to the DOM, but that might not be the case in some older
                  or quirky browsers like IE, so you might want to add it to the DOM
                  just in case, and visually hide it. And do not forget do remove it
                  once you do not need it anymore.
                */

                input.onchange = function () {
                    var file = this.files[0];

                    var reader = new FileReader();
                    reader.onload = function () {
                        /*
                          Note: Now we need to register the blob in TinyMCEs image blob
                          registry. In the next release this part hopefully won't be
                          necessary, as we are looking to handle it internally.
                        */
                        var id = 'blobid' + (new Date()).getTime();
                        var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                        var base64 = reader.result.split(',')[1];
                        var blobInfo = blobCache.create(id, file, base64);
                        blobCache.add(blobInfo);

                        /* call the callback and populate the Title field with the file name */
                        cb(blobInfo.blobUri(), { title: file.name });
                    };
                    reader.readAsDataURL(file);
                };

                input.click();
            },
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
        });
    </script> -->
    {% endblock %}
</body>
</html>