{% extends 'main/base.html' %}

{% block category_display %}
    <h1>Popular Categories</h1>
{% endblock category_display %}

{% block content %}
    <div class="category-section">
        <div class="category-heading-body">
            <div class="category-container">
            
                {% if categories %}
                {% for category in categories %}
            
                <div class="category-card">
                    <img src="{{category.image.url}}" alt="category.name">
                    <div>
                        <h5>{{category.name}}</h5>
                    </div>
                    <p>470.5K views</p>
                </div>
            
                {% endfor %}
                {% else %}
                <p>No categories available</p>
                {% endif %}
            </div>
        </div>
        
    </div>
{% endblock content %}