{% extends 'main/base.html' %}
{% load static %}
{% load only_hours %}

{% block category_display %}
{% endblock %}

{% block content %}
{% load social_share %}

<div class="content-container">
    <div class="content-page">
        <div class="article-detail-container">
            <div class="article-image">
                <video src="{{video.video_upload.url}}" controls></video>
            </div>
            <div class="properties-articles">
                <div class="article-title">
                    <h1>{{video.title|title}}</h1>
                </div>
                <hr>
                <div class="article-attribute-container">
                    <div class="article-attr">
                        <div class="channel-name">
                            <a href="{{video.author.get_absolute_url}}"><img src="{{video.author.channel_logo.url}}" alt=""></a>
                            <p>{{video.author.display_name}}</p>
                        </div>
                    </div>
                    <div class="article-attr">
                        
                        <div class="date-posted views">
                            <box-icon class="attr" name="calendar"></box-icon>
                            <p><span>{{ video.date_uploaded|timesince|upto:',' }} ago</span></p>
                        </div>
                        <div class="views">
                            <img src="{% static 'images/icons/eye_60px.png' %}" alt="">
                            <p> <span>{{ video.views }} view{{ video.views|pluralize }}</span></p>
                        </div>
                    </div>
                    <div class="article-attr">
                        <div class="channel-name actions">
                            <a class="like-btn" data-href="{{video.get_api_like_url}}" data-likes="{{video.likes.count}}" href="{{video.get_like_url}}">
                                {% if video.already_liked %}
                                <box-icon name='like' type="solid" animation='tada-hover'></box-icon>
                                {% else %}
                                <box-icon name='like' animation='tada-hover'></box-icon>
                                {% endif %}
                            </a>
                            <p class="likes-count">{{video.likes.count}}</p>
                        </div>
                        <div class="date-posted actions share-container">
                            <box-icon class="share-btn" name='share-alt'></box-icon>
                            <div class="social-share-container">
                                <div onclick = 'cancelShare()' class="cancel-share"><box-icon name='x'></box-icon></div>
                                {% post_to_facebook "Check out my story!" %}
                                {% post_to_twitter "Check out my story!" '{{video.get_absolute_url}}' "Share on Twitter" %}
                                {% post_to_gplus '{{video.get_absolute_url}}' "Share on Google+!" %}
                                {% post_to_linkedin  '{{video.get_absolute_url}}' %}
                                {% send_email "Check out my story!" '{{video.get_absolute_url}}' "Share via email" %}
                                {% post_to_reddit "Check out my story!" '{{video.get_absolute_url}}' %}
                                {% post_to_telegram "Check out my story!" '{{video.get_absolute_url}}' %}
                                {% post_to_whatsapp "Check out my story!" "Share on WhatsApp" %}
                                {% save_to_pinterest '{{video.get_absolute_url}}' %}
                                {% add_pinterest_script %}
                                {% copy_to_clipboard '{{video.get_absolute_url}}' "Copy to clipboard!" %}
                                {% add_copy_script %}
                            </div>
                        </div>
                        <div class="actions">
                            <box-icon name='bookmark'></box-icon>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="article-body">
                {% if video.video_description %}
                {{video.video_description}}
                {% else %}
                <p></p>
                {% endif %}
            </div>
            <div class="comment-container">
                <div class="comment-article">
                    <div class="parent-comment-medium">
                        <div class="channel-photo">
                            <img src="{{video.author.channel_logo.url}}" alt="">
                        </div>
                        <div class="channel-name-content-title">
                            <div class="channel-name">
                                <p>{{video.author.display_name}}</p>
                            </div>
                            <div class="content-title">
                                <p>{{video.title|title}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="connector"></div>
                    <div class="user-comment-section">
                        <div class="channel-photo userimage">
                            <img src="{{video.author.profile.photo.url}}" alt="">
                        </div>
                        <div class="form-container">
                            <form id="comment-form" action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="CommentfieldWrapper">
                                    <textarea name="comment" id="comment" cols="30" rows="2" placeholder="Write your comment..."></textarea>
                                   
                                </div>
                                <input type="submit" value="Comment">
                            </form>
                        </div>
                    </div>
                    <script>
                        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                        document.getElementById('comment-form').addEventListener('submit', submitForm);

                        function submitForm(e) {
                            e.preventDefault();

                            fetch("{% url 'ue_app:video_detail' video.author.profile.user.username video.slug %}", {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded',
                                'X-CSRFToken': csrftoken,
                            },
                            body: new URLSearchParams({
                                'comment': document.querySelector('.user-comment-section textarea[name="comment"]').value,
                            }),
                            })
                            .then(response => {
                                response.json();
                                console.log(response.status)
                            })
                            .then(data => console.log(data))
                            .catch(error => console.error(error));
                        }

                        
                    </script>
                </div>
                <div class="medium-comments">
                    {% for comment in video_comments %}
                    {% if comment.video.title == video.title %}
                    <div class="comment">
                        <div class="comment-head parent-comment-medium">
                            <div class="comment-image">
                                <img src="{{comment.video.author.profile.photo.url}}" alt="">
                            </div>
                            <div class="comment-head-text channel-name-content-title">
                                <div class="channel-name">
                                    <p>{{comment.video.author.display_name}}</p>
                                </div>
                                <div class="content-title">
                                    <p><span>Comment on</span> {{comment.video.title|title}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="comment-content">
                            <p>{{comment.comment}}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}