@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,100;1,800&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


:root{
   --cl1: rgb(0, 0, 0); 
    --cl2: rgb(36, 34, 34);
    --bg: rgb(255, 153, 0);
    --gbg: rgb(238, 236, 236);
    --lobg: rgb(255, 220, 155);
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    margin-left: 5px;
}
p{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color: var(--cl2);
    margin-left: 5px;
}
a{
    text-decoration: none;
    color: #000;
}
body{
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    /* background: rgba(255, 251, 243, 0.8); */
}
/* Navigation Menu */
.header{
    box-shadow: 0 0 2px 0 grey;
    padding: 3px;
    z-index: 100;
    position: relative;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: #fff;
}
.logo{
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.dropdown-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-menu svg{
    fill: var(--bg);
    cursor: pointer;
    width: 20px;
    height: 20px;
}
box-icon{
    margin-top: 3px;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* border: solid red; */
}
.search-sign-in{
    display: flex;
    align-items: center;
    justify-content: left;
}
.logo-menu {
    display: flex;
    align-items: center;
    justify-content: left;
}
.search-sign-in {
    display: flex;
    align-items: center;
    justify-content: right;
}
.icon-div{
    width: 30px;
    height: 30px;
}
.icon-div img {
    width: 100%;
    height: 100%;
}

/* Add new content */
.add-new-content{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--gbg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}
.add-new-content svg{
    fill: rgba(0, 0, 0, 1);
}
.add-new-content:hover svg{
    fill: var(--bg);
}

/* Left Side Bar */
.left-sidbar{
    float: left;
    left: 0;
    position: fixed;
    z-index: 50;
}
.collapse-title-popup-tag{
    cursor: pointer;
}
.recommender-channels{
    width: 235px;
    background-color: var(--gbg);
    height: 100%;
    padding: 40px 10px;
    position: fixed;
    z-index: 5;
    transition: 0.05s;
    overflow-y: scroll;
    top: 30px;
}
.recommended-accounts{
    padding-bottom: 20px;
}
.recommended-channels-head{
    margin-bottom: 20px;
}
.recommended-account-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.7s;
    margin-bottom: 8px;
}
.recommended-account-card .account-image{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    transition: 0.7s;
}
.recommended-account-card .photo-name {
    display: flex;
    align-items: center;
    justify-content: left;
    transition: 0.7s;
}
.recommended-account-card .account-name{
    width: 120px;
    text-overflow: ellipsis;
    transition: 0.7s;
}
.recommended-account-card .account-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: 0.7s;
}
.online-status{
    border-radius: 50%;
    background-color: green;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    transition: 0.7s;
}
.online-status-views{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.7s;
}

.recommended-channels-head .title{
    display: flex;
    align-items: center;
}
.remove-element{
    display: none;
}
.recommended-videos{
    padding-top: 20px;
    padding-bottom: 20px;
}
.video-cover{
    width: 100%;
    aspect-ratio: 3/1.7;
}
.video-cover video{
    width: 100%;
    height: 100%;
}
.audio-cover {
    display: flex;
    align-items: center;
    /* width: 100%; */
    /* aspect-ratio: 3/2; */
}
.audio-cover div{
    flex: 1;
}
box-icon{
    cursor: pointer;
}
.audio-cover audio {
    /* margin-top: -40px; */
    width: 100%;
    /* height: 30px; */
    /* position: relative; */
    /* margin-left: calc(25% - 33px); */
}
.hide{
    display: none;
}
.video-cover img {
    width: 100%;
    height: 100%;
}
.video-title{
    margin-top: 12px;
}
.video-name-views{
    margin-top: 8px;
}
.channel-name{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.channel-name p{
    text-overflow: ellipsis;
}
.channel-name img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
}

.video-name-views{
    display: flex;
    align-items: center;
    justify-content: left;
}
.popular-video-card{
    margin-bottom: 10px;
    background-color: #fff;
    padding: 5px 5px 5px 5px; 
    border-radius: 5px;
}


/* CATEGORY CSS */
.category-section{
    margin-top: 10px;
    padding: 10px 0 0px 0;
    /* border: solid red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    /* width: 100%; */
    /* position: relative; */
}
.category-heading-body{
    overflow-x: hidden;
    /* overflow-y: hidden; */
    height: 100%;
    /* position: relative; */
    width: 100%;
}
.category-container{
    width: 800px;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow-x: scroll;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    /* box-shadow: inset -3px -3px 7px #ffffffb2, */
            /* inset 3px 3px 7px rgba(94, 104, 121, 0.945); */
    /* position: relative; */
}
.category-card{
    margin: 10px 20px 10px 0;
    /* box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 7px rgba(94, 104, 121, 0.945); */
    border-radius: 5px;
}
.category-card img{
    width: 100px;
    aspect-ratio: 2/3;
    border-radius: 5px 5px 0 0;
}

/* TABS CSS */
.medium-tabs{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.medium-tab{
    padding: 8px 12px;
    background-color: var(--gbg);
    border-radius: 20px;
}
.medium-tab:hover{
    cursor: pointer;
}
.medium-tab p{
    color: rgb(0, 0, 0);
    font-weight: 800;
}

.cart-section{
    width: 100%;
}

.popular-videos-card-tab-display{
    min-width: 200px;
    max-width: 300px;
    aspect-ratio: 3/1.5;
    margin: 0 10px 10px 0;
    border: thin var(--gbg) solid;
    border-radius: 10px;
}
.category-medium-container{
    display: flex;
    align-self: center;
    flex-wrap: wrap;
}
.popular-medium-container{
    margin-top: 10px;
    /* border: red solid; */
    width: 100%;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
}
.popular-medium-container h2{
    padding: 0;
    margin: 0;
}
.popular-medium-container h3{
    padding: 0;
    margin: 0;
}
.mediun-container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    margin: 10px 0;
    border: none;
    /* width: 100%; */
    height: 100%;
    padding: 0;
}
.popular-videos-card-tab-display .audio-cover-1{
    margin-top: 5px;
    width: 100%;
}
.popular-videos-card-tab-display .audio-cover-1 audio{
    width: 90%;
}
/* More */
.more{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    margin-left: 0%;
    padding: 8px;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 40px;
}
.more-arrow{
    width: 40px;
}
.more:hover{
    background-color: var(--gbg);
    font-weight: 900;
}
.more div{
    border: none;
    background-color: var(--gbg);
    height: 0.7px;
    width: 100%;
}

/* CATEGORY DETAIL STYLING */
.category-container-stats{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.category-stats{
    padding: 8px;
    margin-left: 8px;
    background-color: var(--gbg);
    height: fit-content;
    margin-top: 10px;
}
.content-title{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.category-stats span{
    font-weight: 700;
}
.category-image-container{
    max-width: 400px;
    min-width: 300px;
}
.category-image-container img{
    width: 100%;
    aspect-ratio: 2/2.6;
}
.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.content-page{
    max-width: 1200px;
    width: 80%;
    min-width: 300px;
}

/* ARTICLE DETAIL PAGE STYLE */
.article-detail-container{
    /* width: 80%; */
    /* max-width: 900px; */
    min-width: 300px;
    /* padding: 20px; */
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.properties-articles{
    margin-bottom: 20px;
    background-color: var(--gbg);
    width: 100%;
    padding: 5px;
}
.article-title{
    margin-top: 5px;
    /* margin-bottom: 5px; */
    padding: 5px;
    width: 100%;
    background-color: #fff;
}
.article-title h1{
    font-size: 1.5em;
}

.article-attribute-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
    /* border: #fff solid; */
}
.article-image{
    width: 100%;
}
.article-image img{
    width: 100%;
    aspect-ratio: 3/1.6;
    border-radius: 10px;
}
.article-image video {
    width: 100%;
    aspect-ratio: 3/1.6;
    border-radius: 10px;
}
.article-attr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 100%;
    border: none;
    flex-wrap: wrap;
}
/* .article-attr div{
    margin-right: 5px;
    border: none;
} */
.article-attr span{
    font-weight: 500;
}
.views {
    display: flex;
    align-items: center;
    width: 110px;
}
.views img{
    width: 15px;
    height: 15px;
}
.views .attr {
    width: 15px;
    height: 15px;
    margin-top: -7px;
}
.article-attr .actions{
    display: flex;
    align-items: center;
}
.article-attr .actions img{
    width: 18px;
}
.article-body{
    padding: 20px;
    margin-top: 10px;
    border: thin solid var(--gbg);
    border-radius: 10px;
    line-height: 1.8;
    text-align: justify;
    color: rgb(94, 94, 94);
}

/* SHARE STYLES*/
.share-container{
    position: relative;
}
.social-share-container{
    position: fixed;
    display: none;
    background-color: var(--gbg);
    top: 63%;
    right: 5%;
    padding: 20px;
}
.cancel-share{
    position: absolute;
    top: -10px;
    right: -10px;
}
.cancel-share box-icon:hover{
    border: red solid;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 10px 10px;
}

/* Sign Up/ Login */


.display-sign-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: rgba(255, 220, 155, 0.8);
    /* background: url('static/images/image/undraw_into_the_night_vumi.svg'); */
}
.sign-up-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.sign-up-card{
    background-color: #fff;
    padding: 30px;
    width: 45vw;
    height: fit-content;
    min-width: 300px;
    border-radius: 10px;
}
.sign-up-card .center{
    text-align: center;
    margin: 30px auto;
}
.sign-up-card label{
    font-weight: 700;
    margin-top: 20px;
}
/* .sign-up-card .input100 {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid var(--gbg);
    background: var(--gbg);
    margin-bottom: 10px;
} */
.form-container input{
    padding: 7px;
    border-radius: 5px;
    border: 1px solid var(--gbg);
    background: var(--gbg);
    margin-bottom: 0;
}
.sign-up-card input:focus {
    border: none;
    outline: 2px solid var(--bg);
    background: none;
}
.sign-up-button{
    width: fit-content;
    height: fit-content;
    float: right;
    background: var(--bg);
    color: #fff;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form{
    width: 100%;
}
.form-container{
    width: 100%;
    height: fit-content;
    padding: 5px;
    margin-bottom: 10px;
}
.fieldWrapper{
    width: 100%;
    height: 100%;
}
.fieldWrapper a{
    font-size: 10px;
}
input{
    width: 100%;
}
.text-info{
    color: var(--bg);
    font-size: 11px;
}


/* BANNER STYLES */
.banner{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: fit-content;
    padding: 8px;
    overflow-x: scroll;
}
.welcome-banner{
    width: 400px;
    /* min-width: 200px; */
    height: fit-content;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
}
.banner-1{
    background-color: rgb(4, 4, 109);
    margin-left: 30px;
}
.banner-2 {
    background-color: var(--bg);
}
.welcome-banner img{
    width: 100%;
    height: 100px;
    border-radius: 5px 5px 0px 0px;
}
.welcome-banner h3 {
    color: white;
    font-size: 16px;
}
.welcome-banner p {
    color: white;
    font-size: 12px;
}
.cancel-banner{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin-left: 0px;
    /* margin-top: -80px; */
    /* margin-right: 50px; */
}

/* User Avatar */
.user-avatar{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.user-avatar-letter{
    background-color: var(--lobg);
}
.user-avatar p{
    padding: 0;
    margin: 0;
}
.user-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
   
}
.user-avatar p{
    font-size: 17px;
    font-weight: 500;
    color: var(--bg);
}
.user-avatar-account-card{
    display: none;
    width: 160px;
    padding: 10px;
    border-radius: 5%;
    height: fit-content;
    position: fixed;
    top: 30px;
    right: 10px;
    background-color: var(--gbg);
}
.user-avatar-account-card .user-photo{
    padding-top: 25px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-new-card{
    display: none;
    width: 160px;
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: var(--gbg);
}
.sign-auth{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 0px;
    padding: 5px;
}
.sign-auth:hover{
    background-color: var(--lobg);
}
.sign-auth box-icon{
    width: 20px;
    height: 20px;
}
.sign-auth a{
    margin-left: 7px;
    font-size: 13px;
}
.signin{
    background-color: var(--bg);
    border-radius: 5%;
    width: fit-content;
    padding: 2px 4px;
    margin-top: 10px;
}
.cancel-sign {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    float: right;
    margin-top: -5px;
    margin-right: -2px;
    cursor: pointer;
}

.signin a{
    color: var(--lobg);
    margin-left: 0;
}
.sin{
    padding: 0;
}
.showpassword-container{
    display: flex;
    align-items: center;
    justify-content: left;
    width: fit-content;
}
.help{
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 20px;
}
.showpassword-container input{
    width: fit-content;
    cursor: pointer;
    outline: none;
}
.showpassword-container input:focus {
    outline: none;
}
.showpassword-container p{
    color: var(--bg);
}

/* SEARCH */

#search {
    padding: 2px 25px 2px 5px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20px;
    width: 100%;
    border: thin solid rgb(224, 223, 223);
    border-radius: 5px;
}

#search:focus{
    border: none;
    outline: thin solid var(--bg);
}
.search{
    width: 90%;
    min-width: 200px;
}

/* Messages Styles */
.message-alert{
    width: 300px;
    height: fit-content;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    background-color: rgba(255, 255, 255, 0.904);
}
.message-alert img{
    max-width: 80%;
    max-height: 60%;
}
.message-alert p {
    font-weight: 600;
}


/* CHANNEL STYLES */
.channel-page{
    width: 100%;
}
.channel-container{
    width: 100%;
    /* padding: 20px; */
}
.channel-info{
    width: 100%;
}
.channel-banner{
    width: 100%;
}
.channel-banner img{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}
.channel-detail{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.channel-name-photo{
    display: flex;
    justify-content: left;
    min-width: 300px;
    margin-right: 5px;
}
.channel-name-photo .photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--lobg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.channel-name-photo .photo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.name-followers{
    margin-left: 10px;
}
.channel-stats{
    padding: 10px;
    background-color: var(--gbg);
    min-width: 180px;
    margin-top: 5px;
    width: fit-content;
}
.channel-stats-attr{
    display: flex;
    align-items: center;
    justify-content: start;
}
.channel-followers{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.channel-followers p{
    background-color: var(--gbg);
    border-radius: 10px;
    padding: 3px 5px;
}

.follow-channel{
    padding: 0 30px;
}
.follow-channel button{
    padding: 7px 25px;
    background-color: #fff;
    border: none;
    box-shadow: 2px 5px 7px 2px var(--gbg);
    border-radius: 12px;
    transition: all 0.5s;
    transform: scale(1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.follow-channel button svg{
    padding: 0;
    margin: 0;
}
.follow-channel button svg {
    padding: 0;
    margin: 0 5px 0 0;
}
.follow-channel button:hover{
    transform: scale(1.1);
}
.channel-about{
    margin-top: 50px;
}
.channel-about-head span{
    color: var(--bg);
    font-size: 18px;
}
.channel-owner p{
    background-color: var(--gbg);
    border-radius: 10px;
    padding: 3px 5px;
}

.channel-owner{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.channel-owner img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.channel-owner-photo-name{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.content-more-option{
    padding-left: 10px;
}
.content-more-option .delete-edit{
    margin-top: 0;
}

/* Create Video, Article, Audio, and Channel Styles */
form label{
    font-size: 12px;
    font-weight: 600;
}

.fieldWrapper{
    margin-bottom: 15px;
}

input[name="video_upload"]{
    width: fit-content;
}
input[name="audio_upload"]{
    width: fit-content;
}
input[name="feature_image"]{
    width: fit-content;
}
input[name="banner"]{
    width: fit-content;
}
input[name="channel_logo"]{
    width: fit-content;
}
input[type=checkbox]{
    width: fit-content;
}

form span{
    font-size: 11px;
}
form select{
    background-color: #fff;
    border: thin solid var(--gbg);
    padding: 3px 10px;
    border-radius: 8px;
}

form .text input{
    width: 100%;
    height: 40px;
}

form input[type="submit"]{
    background-color: var(--lobg);
    width: fit-content;
    padding: 5px 10px;
    cursor: pointer;
}
.create-profile-link{
    background-color: var(--lobg);
    width: fit-content;
    padding: 5px 10px;
    cursor: pointer;
}
.info-text{
    font-size: 10px;
    line-height: 1;
    padding: 0;
    margin: 0;
}


/* Styling Profile Detail page */
.profile-page-container{
    padding: 20px;
}
.profile-page-photo{
    margin: 0 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-page-photo .user-avatar{
    width: 100px;
    height: 100px;
}
.profile-page-photo p{
    margin-top: 5px;
    font-weight: 700;

}
.profile-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-section{
    margin-top: 10px;
    margin-bottom: 10px;
}
.profile-channels{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    box-shadow: 3px 5px 2px 1px rgb(206, 205, 205);
    border: thin solid rgb(207, 206, 206);
    padding: 8px;
    flex-wrap: wrap;
}

.channel-image-name{
    display: flex;
    justify-content: left;
    min-width: 280px;
    flex-wrap: wrap;
    width: fit-content;
}
.channel-image{
    width: 80px;
    height: 80px;
}
hr{
    border: 0.1px solid rgb(224, 222, 222);
}
.channel-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.profile-channel-heading{
    margin-left: 5px;
    margin-top: 3px;
}
.delete-edit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45px;
    margin-top: 20px;
}
.delete-edit svg{
    width: 15px;
    height: 15px;
    fill: #555555;
    cursor: pointer;
}
.delete-edit svg:hover{
    fill: var(--bg);
}
.alert-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.alert-info svg{
    fill: var(--bg);
    width: 35px;
    height: 35px;
}
.delete-pop-up{
    width: 200px;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 3px 3px rgb(207, 206, 206);
    border: thin solid rgb(207, 206, 206);
    display: none;
    height: 0;
    transition: 0.5s all;
}
.displayDeleteCard{
    display: block;
    height: fit-content;
}
.delete-button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}
.delete-button .cancel-action{
    border: none;
    background-color: rgb(255, 0, 55);
    color: #fff;
    padding: 3px 5px;
    border-radius: 6px;
    font-size: 11px;
    cursor: pointer;
}
.delete-button .delete-action{
    border: none;
    background-color: rgb(5, 136, 59);
    color: #fff;
    padding: 3px 5px;
    border-radius: 6px;
    font-size: 11px;
    cursor: pointer;
}

.comment-container{
    margin-top: 20px;
    border: thin solid var(--gbg);
    
    width: 100%;
}
.comment-container .channel-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    min-width: 25px;
    border-radius: 50%;
}
.comment-container .channel-photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.comment-container .parent-comment-medium{
    display: flex;
    align-items: center;
}
.comment-container .channel-name-content-title{
    margin-left: 5px;
}
.comment-container .channel-name-content-title div{
    padding: 0;
    margin: 0;
}
.comment-container .channel-name-content-title p{
    padding: 0;
    margin: 0;
    line-height: 1.2;
}
.comment-container .channel-name p{
    font-weight: 600;
}
.comment-container .content-title p{
    font-size: 10px;
}
.comment-container .connector{
    width: 1.5px;
    height: 30px;
    background-color: var(--gbg);
    border: none;
    margin-left: 12.5px;
}
.user-comment-section{
    display: flex;
    align-items:flex-start;
}
.user-comment-section form{
    background: none;
}
.user-comment-section textarea[name="comment"]{
    background: none;
    border: thin solid var(--gbg);
    font-size: 10px;
    width: 100%;
    min-width: 300px;
    margin: 0;
    resize: none;
    border-radius: 5px;
    padding: 4px;
    color: #555555;
}
.user-comment-section textarea[name="comment"]:focus{
    outline: none;
}
.comment-article{
    width: 100%;
    border-bottom: thin solid var(--gbg);
    padding: 20px;
}
.medium-comments{
    width: 100%;
}
.medium-comments .comment{
    width: 100%;
    border-bottom: thin solid var(--gbg);
    padding: 20px;
}
.comment-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    min-width: 25px;
    border-radius: 50%;
}
.comment-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.comment-head-text .content-title p{
    color: var(--bg);
}
.comment-head-text .content-title span{
    color: grey;
}
.comment-content{
    padding: 5px auto auto 0;
    border: none;
    margin-left: 25px;
}