
{% extends 'main/base.html' %}

{% block content %}
<div class="display-sign-container" style="z-index: 1000;>
    <div class="sign-up-container">
        <a href="{% url 'ue_app:home' %}">
            <div class="cancel-sign">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                    class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </div>
        </a>
        <div class="sign-up-card">
            <div>
                <h2 class="font-weight-bold">Reset Password</h2>
                <p class="forget-password-text">Forgotten your password? Enter your email address below, and
                    we'll
                    email instructions for setting a new one.</p>
            </div>
            <form method="post" action="{% url 'ue_app:password_reset' %}">
                {% csrf_token %}
                <div class="form-container">
                    {{ form }}
                </div>
                <input class="sign-up-button" type="submit" value="Reset password" />
            </form>
        </div>
    </div>
</div>
{% endblock content %}