{% extends 'main/base.html' %}

{% block content %}
    <div class="display-sign-container" style="z-index: 1000;">
        <div class="sign-up-container">
            <a href="{% url 'ue_app:home' %}">
                <div class="cancel-sign">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </div>
            </a>
            <div class="sign-up-card">
                {% if validlink %}
                <p>Please enter (and confirm) your new password.</p>
                <form action="" method="post">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>{{ form.new_password1.errors }}
                                <label for="id_new_password1">New password:</label>
                            </td>
                            <td>{{ form.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.new_password2.errors }}
                                <label for="id_new_password2">Confirm password:</label>
                            </td>
                            <td>{{ form.new_password2 }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Change my password" /></td>
                        </tr>
                    </table>
                </form>
                {% else %}
                    <h2>Password reset failed</h2>
                    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}